<html>
  <head>
    <title>Streaming</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <style media="screen">
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      h1 {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 20px;
        letter-spacing: 4px;
      }

      .main-stream {
        display: block;
        margin-left: 37%;
        margin-right: 25%;
      }

      .form1 {
        display: block;
        text-align: center;
      }
      #streaming {
        height: 265px;
        margin-bottom: 40px;
      }
      #info_form {
        align-content: center;
      }

      .main-form {
        align-content: center;
      }
      .info-form {
        padding-bottom: 10px;
      }
      label {
        display: inline-block;
        width: 100px;
      }
      button {
        padding: 5px 20px;
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <h1>STREAMING</h1>
    <div class="main-stream">
      <img
        id="streaming"
        src="{{ url_for('video_feed') }}"
        alt="Streaming Face cam"
      />
    </div>

    <div class="form1">
      <form id="info_form_1" hidden="true">
        <div class="main-form">
          <div class="info-form">
            <label for="id">ID : </label>
            <input id="id" name="id" />
          </div>
          <div class="info-form">
            <label for="name">Name : </label>
            <input id="name" name="name" />
          </div>
          <div class="info-form">
            <label for="temp">Temperature : </label>
            <input id="temp" name="temp" />
          </div>
          <div class="info-form">
            <label for="mask">Mask : </label>
            <input id="mask" name="mask" />
          </div>
          <div class="info-form">
            <label for="purpose">Purpose : </label>
            <input id="purpose" name="purpose" />
          </div>
          <!-- <div>
                <button class="btn btn-primary" type="submit" name="button">Submit</button>
              </div> -->
          <div class="info_form">
            <button
              class="btn-primary"
              type="button"
              name="entry"
              onclick="logEntry()"
            >
              Entry
            </button>
            <button
              class="btn-primary"
              type="button"
              name="exit"
              onclick="logExit()"
            >
              Exit
            </button>
          </div>
        </div>
      </form>
      <!--      <form class="" >-->
      <!--        <div class="info-form">-->
      <!--          <label for="name">Address : </label>-->
      <!--          <input id="name" name="name">-->
      <!--        </div>-->
      <!--        <div class="info-form">-->
      <!--          <label for="name">Date Of Birth : </label>-->
      <!--          <input id="name" name="name">-->
      <!--        </div>-->
      <!--        <div class="info-form">-->
      <!--          <label for="name">Email : </label>-->
      <!--          <input id="name" name="name">-->
      <!--        </div>-->
      <!--        <div class="info-form">-->
      <!--          <label for="name">Gender : </label>-->
      <!--          <input id="name" name="name">-->
      <!--        </div>-->
      <!--        <div class="info-form">-->
      <!--          <label for="name">Name : </label>-->
      <!--          <input id="name" name="name">-->
      <!--        </div>-->
      <!--        <div class="info-form">-->
      <!--          <label for="name">Phone No. : </label>-->
      <!--          <input id="name" name="name">-->
      <!--        </div>-->
      <!--        <div class="info-form">-->
      <!--          <label for="name">Photo upload link : </label>-->
      <!--          <input id="name" name="name">-->
      <!--        </div>-->
      <!--        <div class="info-form">-->
      <!--          <label for="name">Role : </label>-->
      <!--          <input id="name" name="name">-->
      <!--        </div>-->
      <!--        <div class="info-form">-->
      <!--          <label for="name">Temperature : </label>-->
      <!--          <input id="name" name="name">-->
      <!--        </div>-->
      <!--        <div class="info-form">-->
      <!--          <label for="name">Mask : </label>-->
      <!--          <input id="name" name="name">-->
      <!--        </div>-->
      <!--        <div class="info_form">-->
      <!--          <button class="btn-primary" type="button" name="register">Register</button>-->
      <!--        </div>-->
      <!--      </form>-->
    </div>
    <script>
      let userIdDiv = document.getElementById("id");
      let nameDiv = document.getElementById("name");
      let tempDiv = document.getElementById("temp");
      let maskDiv = document.getElementById("mask");
      let purposeDiv = document.getElementById("purpose");

      setInterval(() => {
        fetch("/log")
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            let userId = data.name;

            if (data.name && data.temp) {
              document.getElementById("info_form_1").hidden = false;
              tempDiv.value = data.temp;
              maskDiv.value = data.mask;

              if (userId !== "New Person") {
                fetch("/username/" + userId)
                  .then((response) => {
                    return response.json();
                  })
                  .then((data) => {
                    nameDiv.value = data.name;
                    fetch("/displayName", {
                      method: "POST",
                      headers: {
                        "Content-Type": "application/json",
                      },
                      body: JSON.stringify({ displayName: data.name }),
                    });
                  })
                  .catch((err) => console.log(err));

                userIdDiv.value = userId;
              }
            } else {
              document.getElementById("info_form_1").hidden = true;
            }
          })
          .catch((err) => console.log(err));
      }, 3000);

      const logEntryExit = (data) => {
        fetch("/visit_log", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then((response) => {
            return response.text();
          })
          .then((data) => {
            let img = document.getElementById("streaming");

            console.log(data);

            fetch("/reset")
              .then((response) => response.text())
              .then((data) => console.log(data));

            img.src = "{{ url_for('video_feed') }}?t=" + new Date().getTime();
          })
          .catch((err) => console.log("error", err));
      };

      const logEntry = () => {
        data = {
          user_id: userIdDiv.value,
          temp: tempDiv.value,
          mask: maskDiv.value,
          purpose: purposeDiv.value,
          type: "entry",
        };
        logEntryExit(data);
      };

      const logExit = () => {
        data = {
          user_id: userIdDiv.value,
          temp: tempDiv.value,
          mask: maskDiv.value,
          purpose: purposeDiv.value,
          type: "exit",
        };
        logEntryExit(data);
      };

      // window.addEventListener("load", function () {
      //   document
      //     .getElementById("info_form")
      //     .addEventListener("submit", function (e) {
      //       e.preventDefault(); // before the code
      //       data = {
      //         user_id: userIdDiv.value,
      //         temp: tempDiv.value,
      //         mask: maskDiv.value,
      //         purpose: purposeDiv.value,
      //       };
      //       fetch("/visit_log", {
      //         method: "POST",
      //         headers: {
      //           "Content-Type": "application/json",
      //         },
      //         body: JSON.stringify(data),
      //       })
      //         .then((response) => {
      //           return response.text();
      //         })
      //         .then((data) => {
      //           let img = document.getElementById("streaming");

      //           console.log(data);

      //           fetch("/reset")
      //             .then((response) => response.text())
      //             .then((data) => console.log(data));

      //           img.src =
      //             "{{ url_for('video_feed') }}?t=" + new Date().getTime();
      //         })
      //         .catch((err) => console.log("error", err));
      //     });
      // });
    </script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
